{% extends "./layout.html" %}
{% block body %}

<style>
    .table-container {
        display: none;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #d1d1d1;
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #dfdfdf;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 20px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: #5AB55D;
    }

    input:checked+.slider:before {
        transform: translateX(16px);
    }

    .slider-label {
        margin-left: 8px;
        font-size: 14px;
        vertical-align: middle;
    }

    .admin_bar {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .button-container {
        flex: 0 0 auto;
    }

    .filter-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: end;
        gap: 10px;
        flex: 1 1 auto;
        justify-content: flex-end;
        flex-direction: row;
    }

    .dropdown {
        flex: 0 0 150px;
        min-width: 120px;
    }

    .form-control {
        flex: 0 0 150px;
        min-width: 150px;
    }

    .btn {
        flex: 0 0 auto;
        white-space: nowrap;
    }

    @media (max-width: 768px) {
        .admin_bar {
            flex-direction: column;
            gap: 20px;
        }

        .filter-container {
            flex-direction: column;
            align-items: stretch;
        }

        .button-container {
            justify-content: center;
        }

        .dropdown,
        .form-control,
        .btn {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .admin_bar {
            padding: 10px;
        }

        .form-check {
            justify-content: center;
        }
    }

    .admin_bar {
        margin: 40px;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }

    .button-container {
        flex: 0 0 auto;
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex: 1 1 auto;
        align-items: center;
    }

    .dropdown {
        flex: 0 0 150px;
        min-width: 170px;
    }

    .form-control {
        flex: 0 0 150px;
        min-width: 150px;
    }

    .btn {
        flex: 0 0 auto;
        white-space: nowrap;
    }

    .checkbox-container {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }

    .pagination-wrapper {
        text-align: right;
        margin: 5px 0;
    }

    .pagination {
        display: inline-block;
        height: 37.5px;
        /* 50px -> 25% reducción */
        padding: 0 15px;
        /* 20px -> 25% reducción */
        border-radius: 18.75px;
        /* 25px -> 25% reducción */
        background-color: #ffffff;
    }

    .page-numbers {
        display: block;
        padding: 0 11.25px;
        /* 15px -> 25% reducción */
        float: left;
        color: #5AB55D;
        font-size: 12px;
        /* 16px -> 25% reducción */
        letter-spacing: 0.075em;
        /* 0.1em -> 25% reducción */
        line-height: 37.5px;
        /* 50px -> 25% reducción */
    }

    .page-numbers:hover,
    .page-numbers.current {
        background-color: #5AB55D;
        color: white;
    }

    .page-numbers.prev:hover,
    .page-numbers.next:hover {
        background-color: transparent;
        color: #5AB55D;
    }

    @media (max-width: 768px) {
        .pagination-wrapper {
            margin: 11.25px 0;
            /* 15px -> 25% reducción */
        }

        .page-numbers {
            font-size: 10.5px;
            /* 14px -> 25% reducción */
            padding: 0 7.5px;
            /* 10px -> 25% reducción */
            line-height: 30px;
            /* 40px -> 25% reducción */
        }
    }

    .options {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 18px;
        padding-left: 10px;
        padding-right: 30px;
    }
</style>

<div class="admin_bar">
    <!-- Botón "Agregar equipo" -->
    <div class="button-container">
        <a href="{{ url_for('teams_bp.add_team') }}" class="btn btn-success">Agregar equipo</a>
    </div>

    <!-- Formulario de filtros -->
    <form method="POST" class="filter-container">
        <div class="dropdown">
            {{ form.filtro(placeholder="Filtrar...", class="form-control") }}
        </div>
        <div class="dropdown">
            {{ form.categoria(class="form-control") }}
        </div>
        <div class="dropdown">
            {{ form.deporte(class="form-control") }}
        </div>
        <div class="dropdown">
            {{ form.grupo(class="form-control" ) }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('teams_bp.inscripciones') }}" class="btn btn-danger ml-2">X</a>
    </form>
</div>

<div class="options">
    <div class="checkbox-container">
        <div>
            <label class="switch">
                <input type="checkbox" id="checkbox0" onclick="activarAsignacion(this)">
                <span class="slider round"></span>
            </label>
            <label for="checkbox0" class="slider-label">Asignar grupos</label>
        </div>
        <div>
            <label class="switch">
                <input type="checkbox" id="checkbox1" checked
                    onclick="toggleTables('checkbox1', 'checkbox2', 'table1', 'table2')">
                <span class="slider round"></span>
            </label>
            <label for="checkbox1" class="slider-label">Mostrar Tabla pre-inscripción</label>
        </div>
        <div>
            <label class="switch">
                <input type="checkbox" id="checkbox2"
                    onclick="toggleTables('checkbox2', 'checkbox1', 'table2', 'table1')">
                <span class="slider round"></span>
            </label>
            <label for="checkbox2" class="slider-label">Mostrar Tabla inscriptos</label>
        </div>
    </div>
</div>



<div id="table1" class=" table-container" style="margin: 12px;">
    <div class="pagination-wrapper d-flex flex-column align-items-end ">
        <div class="pagination1">
            {% set total_pages = Table1_inf|length // 10 + (1 if Table1_inf|length % 10 > 0 else 0) %}
            {% for page in range(1, total_pages + 1) %}
            <a class="page-numbers {% if page == 1 %}current{% endif %}" data-page="{{ page }}">{{ page }}</a>
            {% endfor %}
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Colegio</th>
                <th>Deporte</th>
                <th>Categoria</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Miembros</th>
                <th>Vegetariano</th>
                <th>Celiaco</th>
                <th>Diabetico</th>
                <th>
                    <hr class="border border-2" style="margin-top: 6%;">
                </th>
            </tr>
        </thead>
        {% for pagina in Table1_inf|batch(10) %}
        <tbody id="page1-{{ loop.index }}" class="pagination1tbody {% if not loop.first %}d-none{% endif %}">
            {% for inf in pagina %}
            <tr>
                <td>{{inf.Equipo}}</td>
                <td>{{inf.Colegio}}</td>
                <td>{{inf.Deporte}}</td>
                <td>{{inf.Categoria}}</td>
                <td>{{inf.DNI}}</td>
                <td>{{inf.Correo}}</td>
                <td>{{inf.Miembros}} jugadores <br />
                    {{inf.Acompañantes}} Acompañantes
                </td>
                <td>{{inf.Vegetariano}}</td>
                <td>{{inf.Celiaco}}</td>
                <td>{{inf.Diabetico}}</td>
                <td width="236px">
                    <div class="d-flex">
                        <a class="btn btn-success" style="margin-right: 4px;"
                            href="{{ url_for('teams_bp.cargar_team', id=inf.ID) }}"
                            onclick="return confirm('¿Estás seguro de que deseas confirmar este equipo?');">
                            <i class="fa-solid fa-check fa-2x"></i>
                        </a>

                        <a target="_blank" class="btn btn-success" style="margin-right: 4px;"
                            href="https://wa.me/{{ inf.Telefono }}">
                            <i class="fa-brands fa-whatsapp fa-2x"></i>
                        </a>

                        <a class="btn btn-primary" href="{{ url_for('teams_bp.edit_team', id=inf.ID) }}">
                            <i class="fa-solid fa-gear fa-2x"></i>
                        </a>
                    </div>




                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>


<div id="table2" class="table-container" style="margin: 12px;">
    <div class="pagination-wrapper d-flex flex-column align-items-end ">
        <div class="pagination2">
            {% set total_pages = Table2_inf|length // 10 + (1 if Table2_inf|length % 10 > 0 else 0) %}
            {% for page in range(1, total_pages + 1) %}
            <a class="page-numbers {% if page == 1 %}current{% endif %}" data-page="{{ page }}">{{ page }}</a>
            {% endfor %}
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Equipo</th>
                <th>Colegio</th>
                <th>Deporte</th>
                <th>Categoría</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Miembros</th>
                <th>Grupo</th>
                <th><hr class="border border-2" style="margin-top: 6%;"></th>
            </tr>
        </thead>
        {% for pagina in Table2_inf|batch(10) %}
        <tbody id="page2-{{ loop.index }}" class="pagination2tbody {% if not loop.first %}d-none{% endif %}">
            {% for inf in pagina %}
            <tr>
                <td>{{ inf.ID }}</td>
                <td>{{ inf.Equipo }}</td>
                <td>{{ inf.Colegio }}</td>
                <td>{{ inf.Deporte }}</td>
                <td>{{ inf.Categoria }}</td>
                <td>{{ inf.DNI }}</td>
                <td>{{ inf.Correo }}</td>
                <td>
                    {{ inf.Miembros }} jugadores <br />
                    {{ inf.Acompañantes }} Acompañantes
                </td>
                <td class="texto_grupo">
                    <b>{{ inf.Grupo }}</b>

                    {% if inf.equipo_id %}
                    <div class="d-flex justify-content-end">
                        <a href="{{ url_for('teams_bp.mostrar_equipo', id=inf.equipo_id) }}"
                            style="text-decoration: none; color: inherit;">
                            <small>{{ inf.equipo_id}}</small>
                        </a>
                    </div>
                    {%endif%}
                </td>
                <td class="form_grupo d-none">
                    <form id="grupoForm-{{ inf.ID }}" class="d-flex">
                        <select class="form-control" name="grupo">
                            <option value="">Sin definir</option>
                            {% for letra in 'ABCDEF' %}
                            <option value="{{ letra }}" {% if inf.Grupo==letra %}selected{%endif%}>
                                Grupo {{ letra }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit"
                            class="ml-2 flex-shrink-1 btn btn-sm {% if inf.Grupo == 'sin definir' %}btn-danger{%else%}btn-success{%endif%}">
                            <span class="spinner-border spinner-border-sm d-none" role="status"
                                aria-hidden="true"></span>
                            <span class="btn-text"><i class="fa-solid fa-caret-right"></i></span>
                        </button>
                    </form>
                </td>

                <td width="236px">

                    <div class="d-flex justify-content-end">
                        <a target="_blank" class="btn btn-success" style="margin-right: 4px;"
                            href="https://wa.me/{{ inf.Telefono }}">
                            <i class="fa-brands fa-whatsapp fa-2x"></i>
                        </a>

                        <a class="btn btn-primary" style="margin-right: 4px;" href="{{ url_for('teams_bp.edit_team', id=inf.ID) }}">
                            <i class="fa-solid fa-gear fa-2x"></i>
                        </a>
                    </div>



                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>




<script>

    document.addEventListener('DOMContentLoaded', function () {
        const pagination1Links = document.querySelectorAll('.pagination1 a');
        const pagination2Links = document.querySelectorAll('.pagination2 a');
        const tableBodies1 = document.querySelectorAll('.pagination1tbody');
        const tableBodies2 = document.querySelectorAll('.pagination2tbody');

        pagination1Links.forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault(); // Evita que el anchor cambie de página

                // Ocultar todos los TBODIES
                tableBodies1.forEach(tbody => tbody.classList.add('d-none'));

                // Mostrar el TBODY correspondiente
                const page = this.getAttribute('data-page');
                document.getElementById(`page1-${page}`).classList.remove('d-none');

                // Actualizar el estado activo de los links
                pagination1Links.forEach(link => link.classList.remove('current'));
                this.classList.add('current');
            });
        });

        pagination2Links.forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault(); // Evita que el anchor cambie de página

                // Ocultar todos los TBODIES
                tableBodies2.forEach(tbody => tbody.classList.add('d-none'));

                // Mostrar el TBODY correspondiente
                const page = this.getAttribute('data-page');
                document.getElementById(`page2-${page}`).classList.remove('d-none');

                // Actualizar el estado activo de los links
                pagination2Links.forEach(link => link.classList.remove('current'));
                this.classList.add('current');
            });
        });

        document.querySelectorAll("form[id^='grupoForm-']").forEach(form => {
            form.addEventListener("submit", function (event) {
                event.preventDefault(); // Evita el envío normal

                const formData = new FormData(this);
                const grupo = formData.get("grupo");
                const id = this.id.split("-")[1]; // Extraer el ID del form
                const button = this.querySelector("button");
                const spinner = button.querySelector(".spinner-border");
                const btnText = button.querySelector(".btn-text");

                // Mostrar spinner y deshabilitar botón
                spinner.classList.remove("d-none");
                btnText.style.display = "none";
                button.disabled = true;

                fetch(`/asignar_grupo/${id}`, {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert("Grupo asignado correctamente");

                            // Actualizar el botón según el grupo asignado
                            button.classList.remove("btn-danger", "btn-success");
                            button.classList.add(grupo ? "btn-success" : "btn-danger");

                            // Actualizar la opción seleccionada en el select
                            this.querySelector("select").value = grupo;
                        } else {
                            alert("Error: " + data.message);
                        }
                    })
                    .catch(error => console.error("Error:", error))
                    .finally(() => {
                        // Ocultar spinner y restaurar botón
                        spinner.classList.add("d-none");
                        btnText.style.display = "inline";
                        button.disabled = false;
                    });
            });
        });
    });



    function activarAsignacion(checkbox) {

        if (checkbox.checked) {
            let textos = document.querySelectorAll('.texto_grupo');
            textos.forEach(elemento => elemento.classList.add('d-none'));

            let formularios = document.querySelectorAll('.form_grupo');
            formularios.forEach(elemento => elemento.classList.remove('d-none'));
        } else {
            let textos = document.querySelectorAll('.texto_grupo');
            textos.forEach(elemento => elemento.classList.remove('d-none'));

            let formularios = document.querySelectorAll('.form_grupo');
            formularios.forEach(elemento => elemento.classList.add('d-none'));
        }
    }



    function initTables() {
        var checkbox1 = document.getElementById('checkbox1');
        var checkbox2 = document.getElementById('checkbox2');

        // Verificar si es la primera vez que se carga la página
        if (localStorage.getItem('firstLoad') === null) {
            checkbox1.checked = true;  // Activar el primer checkbox
            checkbox2.checked = false; // Desactivar el segundo checkbox
            localStorage.setItem('firstLoad', 'false'); // Marcar que ya no es la primera vez
        } else {
            // Restaurar el estado de los checkboxes desde localStorage
            checkbox1.checked = localStorage.getItem('checkbox1') === 'true';
            checkbox2.checked = localStorage.getItem('checkbox2') === 'true';
        }

        // Actualizar la visualización de las tablas según los checkboxes
        toggleTable(checkbox1, 'table1');
        toggleTable(checkbox2, 'table2');
    }

    function toggleTable(checkbox, tableId) {
        var table = document.getElementById(tableId);

        if (checkbox.checked) {
            table.style.display = 'block';
        } else {
            table.style.display = 'none';
        }

        // Guardar el estado del checkbox en localStorage
        localStorage.setItem(checkbox.id, checkbox.checked);
    }

    function toggleTables(activeCheckboxId, inactiveCheckboxId, activeTableId, inactiveTableId) {
        var activeCheckbox = document.getElementById(activeCheckboxId);
        var inactiveCheckbox = document.getElementById(inactiveCheckboxId);

        if (!activeCheckbox.checked && !inactiveCheckbox.checked) {
            // Impedir que ambos checkboxes queden desactivados
            activeCheckbox.checked = true;
            return;
        }

        if (activeCheckbox.checked) {
            // Desactivar el otro checkbox y ocultar su tabla
            inactiveCheckbox.checked = false;
            toggleTable(inactiveCheckbox, inactiveTableId);
        }

        // Actualizar la tabla del checkbox actual
        toggleTable(activeCheckbox, activeTableId);
    }

    window.onload = initTables;



    function filterTables() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const categoriaFilter = document.getElementById('categoriaFilter').value.toLowerCase();
        const deporteFilter = document.getElementById('deporteFilter').value.toLowerCase();

        // Filtrar la tabla 1
        const table1Rows = document.querySelectorAll('#table1 tbody tr');
        table1Rows.forEach(row => {
            const equipo = row.cells[0].textContent.toLowerCase();
            const colegio = row.cells[1].textContent.toLowerCase();
            const categoria = row.cells[3].textContent.toLowerCase();
            const deporte = row.cells[2].textContent.toLowerCase();

            const matchesSearch = equipo.includes(searchInput) || colegio.includes(searchInput);
            const matchesCategoria = categoriaFilter === "" || categoria === categoriaFilter;
            const matchesDeporte = deporteFilter === "" || deporte === deporteFilter;

            if (matchesSearch && matchesCategoria && matchesDeporte) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        // Filtrar la tabla 2
        const table2Rows = document.querySelectorAll('#table2 tbody tr');
        table2Rows.forEach(row => {
            const equipo = row.cells[0].textContent.toLowerCase();
            const colegio = row.cells[1].textContent.toLowerCase();
            const categoria = row.cells[3].textContent.toLowerCase();
            const deporte = row.cells[2].textContent.toLowerCase();

            const matchesSearch = equipo.includes(searchInput) || colegio.includes(searchInput);
            const matchesCategoria = categoriaFilter === "" || categoria === categoriaFilter;
            const matchesDeporte = deporteFilter === "" || deporte === deporteFilter;

            if (matchesSearch && matchesCategoria && matchesDeporte) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        // Reiniciar las opciones de los filtros
        document.getElementById('categoriaFilter').value = '';
        document.getElementById('deporteFilter').value = '';
        document.getElementById('searchInput').value = '';
    }

    document.getElementById('applyFiltersBtn').addEventListener('click', filterTables);

    window.onload = initTables;
</script>

{% endblock %}