{% extends "./layout.html" %}
{% block body %}

<style>
    .table-container {
        display: none;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #d1d1d1;
        /* Gris más oscuro */
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #dfdfdf;
        /* Blanco para las filas pares */
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 36px;
        /* Reducción al 60% de 60px */
        height: 20px;
        /* Reducción al 60% de 34px */
    }

    /* Esconder el checkbox original */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* Slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 20px;
        /* Ajustado para mantener proporciones */
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        /* Reducción al 60% de 26px */
        width: 16px;
        /* Reducción al 60% de 26px */
        left: 2px;
        /* Ajustado para mantener proporciones */
        bottom: 2px;
        /* Ajustado para mantener proporciones */
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: #4CAF50;
    }

    input:checked+.slider:before {
        transform: translateX(16px);
        /* Ajustado para el nuevo tamaño */
    }

    /* Estilo de las etiquetas */
    .slider-label {
        margin-left: 8px;
        /* Ajustado para el nuevo tamaño */
        font-size: 14px;
        /* Ajustado para el nuevo tamaño */
        vertical-align: middle;
    }
</style>


<div class="" style="margin: 40px;">
    <div class="admin_bar"
        style="border: 1px solid #ccc; padding: 20px; border-radius: 5px; display: flex; justify-content: space-between; align-items: flex-start;">
        <div class="button-container" style="display: flex; flex-direction: row;">
            <a href="{{ url_for('teams_bp.add_team') }}" class="btn btn-success" style="margin-right: 10px;">Agregar un
                equipo</a>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="asignarGruposCheckBox" onchange="activarAsignacion(this)">
            <label class="form-check-label" for="defaultCheck1">
            Asignar grupos
            </label>
        </div>

        <form method="POST" class="filter-container" style="display: flex; align-items: center; margin-bottom: 20px;">
            
            {{ form.cantidad(class="form-control") }}
            {{ form.filtro(placeholder="Filtrar...", class="form-control", style="width: 140px;") }}
            
            <div class="dropdown" style="margin-left: 10px;width: 400px;">
                {{ form.categoria(class="form-control") }}
            </div>
            
            <div class="dropdown" style="margin-left: 10px;width: 400px;">
                {{ form.deporte(class="form-control") }}
            </div>
            
            <div class="dropdown" style="margin-left: 10px;width: 400px;">
                {{ form.grupo(class="form-control") }}
            </div>
            
            {{ form.submit(class="btn btn-primary", style="margin-left: 10px;") }}
            <a href="{{ url_for('teams_bp.inscripciones') }}" class="btn btn-danger ml-2">X</a>
        </form>

    </div>

    <div class="checkbox-container" style="margin-top: 10px; margin-left: 20px;">
        <div>
            <label class="switch">
                <input type="checkbox" id="checkbox1" checked
                    onclick="toggleTables('checkbox1', 'checkbox2', 'table1', 'table2')">
                <span class="slider round"></span>
            </label>
            <label for="checkbox1" class="slider-label" style="margin-top: 5px;">Mostrar Tabla pre-inscripción</label>
        </div>
        <div>
            <label class="switch">
                <input type="checkbox" id="checkbox2"
                    onclick="toggleTables('checkbox2', 'checkbox1', 'table2', 'table1')">
                <span class="slider round"></span>
            </label>
            <label for="checkbox2" class="slider-label" style="margin-top: 5px;">Mostrar Tabla inscriptos</label>
        </div>
    </div>

</div>





<div id="table1" class="table-container" style="margin: 12px;">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
            <tr>
                <td>Equipo</td>
                <td>Colegio</td>
                <td>Deporte</td>
                <td>Categoria</td>
                <td>DNI</td>
                <td>Correo</td>
                <td>Miembros</td>
                <td>Vegetariano</td>
                <td>Celiaco</td>
                <td>Diabetico</td>
                <td>Autorizacion</td>
                <td>Comprobante</td>
                <td>-------</td>
            </tr>
        </thead>
        <tbody>
            {% for inf in Table1_inf %}
            <tr>
                <td>{{inf.Equipo}}</td>
                <td>{{inf.Colegio}}</td>
                <td>{{inf.Deporte}}</td>
                <td>{{inf.Categoria}}</td>
                <td>{{inf.DNI}}</td>
                <td>{{inf.Correo}}</td>
                <td>{{inf.Miembros}} jugadores <br />
                    {{inf.Acompañantes}} Acompañantes
                </td>
                <td>{{inf.Vegetariano}}</td>
                <td>{{inf.Celiaco}}</td>
                <td>{{inf.Diabetico}}</td>
                <td><a href="{{ inf.Autorizacion }}" target="_blank">LINK</a></td>
                <td><a href="{{ inf.Comprobante }}" target="_blank">LINK</a></td>
                <td>
                    <a href="https://wa.me/{{ inf.Telefono }}" class="btn btn-success" target="_blank"
                        style="padding: 5px; display: inline-block; width: auto;">
                        <img src="{{ url_for('static', filename='img/whatsapp_ico.png') }}"
                            style="width: 40px; height: 40px; margin: 2px;" />
                    </a>
                    <a href="{{ url_for('teams_bp.cargar_team', id=inf.ID) }}" class="btn btn-success"
                        onclick="return confirm('¿Estás seguro de que deseas confirmar este equipo?');">OK</a>
                    
                    <a class="btn btn-primary btn-sm" href="{{ url_for('teams_bp.edit_team', id=inf.ID) }}">
                        <img src="{{ url_for('static', filename='img/settings_ico.png') }}" class="img-fluid">
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div id="table2" class="table-container" style="margin: 12px;">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Equipo</th>
                <th>Colegio</th>
                <th>Deporte</th>
                <th>Categoría</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Miembros</th>
                <th>Grupo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inf in Table2_inf %}
            <tr>
                <td>{{ inf.ID }}</td>
                <td>{{ inf.Equipo }}</td>
                <td>{{ inf.Colegio }}</td>
                <td>{{ inf.Deporte }}</td>
                <td>{{ inf.Categoria }}</td>
                <td>{{ inf.DNI }}</td>
                <td>{{ inf.Correo }}</td>
                <td>
                    {{ inf.Miembros }} jugadores <br />
                    {{ inf.Acompañantes }} Acompañantes
                </td>
                <td class="texto_grupo">
                    {{ inf.Grupo }}
                </td>
                <td class="form_grupo d-none">
                    <form action="{{ url_for('teams_bp.asignar_grupo', id=inf.ID) }}" method="post" class="d-flex">
                        <select class="form-control" name="grupo">
                            <option value="">Sin definir</option>
                            {% for letra in 'ABCDEF' %}
                            <option value="{{ letra }}" {% if inf.Grupo == letra %}selected{%endif%}>
                                Grupo {{ letra }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="submit" 
                            class="ml-2 flex-shrink-1 btn btn-sm {% if inf.Grupo == 'sin definir' %}btn-danger{%else%}btn-success{%endif%}">
                            >
                        </button>
                    </form>
                </td>

                <td>
                    <a class="btn btn-success btn-sm" target="_blank" href="https://wa.me/{{ inf.Telefono }}">
                        <img src="{{ url_for('static', filename='img/whatsapp_ico.png') }}" class="img-fluid"
                            style="width: 24px; height: 24px;">
                    </a>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('teams_bp.edit_team', id=inf.ID) }}">
                        <img src="{{ url_for('static', filename='img/settings_ico.png') }}" class="img-fluid"
                            style="width: 24px; height: 24px;">
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




<script>
    function activarAsignacion(checkbox){

        if (checkbox.checked) {
            let textos = document.querySelectorAll('.texto_grupo');
            textos.forEach(elemento => elemento.classList.add('d-none'));

            let formularios = document.querySelectorAll('.form_grupo');
            formularios.forEach(elemento => elemento.classList.remove('d-none'));
        } else {
            let textos = document.querySelectorAll('.texto_grupo');
            textos.forEach(elemento => elemento.classList.remove('d-none'));

            let formularios = document.querySelectorAll('.form_grupo');
            formularios.forEach(elemento => elemento.classList.add('d-none'));
        }
    }

    function initTables() {
        var checkbox1 = document.getElementById('checkbox1');
        var checkbox2 = document.getElementById('checkbox2');

        // Verificar si es la primera vez que se carga la página
        if (localStorage.getItem('firstLoad') === null) {
            checkbox1.checked = true;  // Activar el primer checkbox
            checkbox2.checked = false; // Desactivar el segundo checkbox
            localStorage.setItem('firstLoad', 'false'); // Marcar que ya no es la primera vez
        } else {
            // Restaurar el estado de los checkboxes desde localStorage
            checkbox1.checked = localStorage.getItem('checkbox1') === 'true';
            checkbox2.checked = localStorage.getItem('checkbox2') === 'true';
        }

        // Actualizar la visualización de las tablas según los checkboxes
        toggleTable(checkbox1, 'table1');
        toggleTable(checkbox2, 'table2');
    }

    function toggleTable(checkbox, tableId) {
        var table = document.getElementById(tableId);

        if (checkbox.checked) {
            table.style.display = 'block';
        } else {
            table.style.display = 'none';
        }

        // Guardar el estado del checkbox en localStorage
        localStorage.setItem(checkbox.id, checkbox.checked);
    }

    function toggleTables(activeCheckboxId, inactiveCheckboxId, activeTableId, inactiveTableId) {
        var activeCheckbox = document.getElementById(activeCheckboxId);
        var inactiveCheckbox = document.getElementById(inactiveCheckboxId);

        if (!activeCheckbox.checked && !inactiveCheckbox.checked) {
            // Impedir que ambos checkboxes queden desactivados
            activeCheckbox.checked = true;
            return;
        }

        if (activeCheckbox.checked) {
            // Desactivar el otro checkbox y ocultar su tabla
            inactiveCheckbox.checked = false;
            toggleTable(inactiveCheckbox, inactiveTableId);
        }

        // Actualizar la tabla del checkbox actual
        toggleTable(activeCheckbox, activeTableId);
    }

    window.onload = initTables;



    function filterTables() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const categoriaFilter = document.getElementById('categoriaFilter').value.toLowerCase();
        const deporteFilter = document.getElementById('deporteFilter').value.toLowerCase();

        // Filtrar la tabla 1
        const table1Rows = document.querySelectorAll('#table1 tbody tr');
        table1Rows.forEach(row => {
            const equipo = row.cells[0].textContent.toLowerCase();
            const colegio = row.cells[1].textContent.toLowerCase();
            const categoria = row.cells[3].textContent.toLowerCase();
            const deporte = row.cells[2].textContent.toLowerCase();

            const matchesSearch = equipo.includes(searchInput) || colegio.includes(searchInput);
            const matchesCategoria = categoriaFilter === "" || categoria === categoriaFilter;
            const matchesDeporte = deporteFilter === "" || deporte === deporteFilter;

            if (matchesSearch && matchesCategoria && matchesDeporte) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        // Filtrar la tabla 2
        const table2Rows = document.querySelectorAll('#table2 tbody tr');
        table2Rows.forEach(row => {
            const equipo = row.cells[0].textContent.toLowerCase();
            const colegio = row.cells[1].textContent.toLowerCase();
            const categoria = row.cells[3].textContent.toLowerCase();
            const deporte = row.cells[2].textContent.toLowerCase();

            const matchesSearch = equipo.includes(searchInput) || colegio.includes(searchInput);
            const matchesCategoria = categoriaFilter === "" || categoria === categoriaFilter;
            const matchesDeporte = deporteFilter === "" || deporte === deporteFilter;

            if (matchesSearch && matchesCategoria && matchesDeporte) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        // Reiniciar las opciones de los filtros
        document.getElementById('categoriaFilter').value = '';
        document.getElementById('deporteFilter').value = '';
        document.getElementById('searchInput').value = '';
    }

    document.getElementById('applyFiltersBtn').addEventListener('click', filterTables);

    window.onload = initTables;
</script>

{% endblock %}


