{% extends "layout.html" %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <title> ar Equipo</title>
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <!-- Botones en la parte superior del formulario -->
                    <div class="d-flex justify-content-between mb-3">
                        <a href="{{ url_for('admin') }}" class="btn btn-secondary">VOLVER</a>
                        <form action="{{ url_for('eliminar_team', id=team[0]) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este equipo?');">
                            <button type="submit" class="btn btn-danger">ELIMINAR EQUIPO</button>
                        </form>
                        
                    </div>

                    <!-- Formulario -->
                    <form id="teamForm" action="/config/{{ team.0 }}" method="POST">
                        <div class="form-group">
                            <label for="Equipo">Equipo</label>
                            <input type="text" class="form-control" id="Equipo" name="Equipo" placeholder="Equipo" value="{{ team.1 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="Colegio">Colegio</label>
                            <input type="text" class="form-control" id="Colegio" name="Colegio" placeholder="Colegio" value="{{ team.2 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="Deporte">Deporte</label>
                            <select class="form-control" id="Deporte" name="Deporte" required>
                                <option value="Futbol" {% if team.3=='Futbol' %}selected{% endif %}>Futbol</option>
                                <option value="Basquet" {% if team.3=='Basquet' %}selected{% endif %}>Basquet</option>
                                <option value="Voley" {% if team.3=='Voley' %}selected{% endif %}>Voley</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Categoria">Categoría</label>
                            <select class="form-control" id="Categoria" name="Categoria" required>
                                <option value="Masculino mayor" {% if team.4=='Masculino mayor' %}selected{% endif %}>Masculino mayor</option>
                                <option value="Masculino menor" {% if team.4=='Masculino menor' %}selected{% endif %}>Masculino menor</option>
                                <option value="Femenino mayor" {% if team.4=='Femenino mayor' %}selected{% endif %}>Femenino mayor</option>
                                <option value="Femenino menor" {% if team.4=='Femenino menor' %}selected{% endif %}>Femenino menor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Telefono">Teléfono</label>
                            <input type="tel" class="form-control" id="Telefono" name="Telefono" placeholder="Teléfono" value="{{ team.5 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="DNI">DNI</label>
                            <input type="text" class="form-control" id="DNI" name="DNI" placeholder="DNI" value="{{ team.6 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="Correo">Correo</label>
                            <input type="email" class="form-control" id="Correo" name="Correo" placeholder="Correo" value="{{ team.7 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="Miembros">Miembros</label>
                            <input type="text" class="form-control" id="Miembros" name="Miembros" placeholder="Miembros" value="{{ team.8 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="Acompañantes">Acompañantes</label>
                            <input type="text" class="form-control" id="Acompañantes" name="Acompañantes" placeholder="Acompañantes" value="{{ team.9 }}" required>
                        </div>
                        <div class="form-group">
                            <label for="Vegetariano">Vegetariano</label>
                            <select class="form-control" id="Vegetariano" name="Vegetariano" required>
                                <option value="1" {% if team.10=='1' %}selected{% endif %}>1</option>
                                <option value="2" {% if team.10=='2' %}selected{% endif %}>2</option>
                                <option value="3" {% if team.10=='3' %}selected{% endif %}>3</option>
                                <option value="4" {% if team.10=='4' %}selected{% endif %}>4</option>
                                <option value="5" {% if team.10=='5' %}selected{% endif %}>5</option>
                                <option value="NO" {% if team.10=='NO' %}selected{% endif %}>NINGUNO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Celiaco">Celiaco</label>
                            <select class="form-control" id="Celiaco" name="Celiaco" required>
                                <option value="1" {% if team.11=='1' %}selected{% endif %}>1</option>
                                <option value="2" {% if team.11=='2' %}selected{% endif %}>2</option>
                                <option value="3" {% if team.11=='3' %}selected{% endif %}>3</option>
                                <option value="4" {% if team.11=='4' %}selected{% endif %}>4</option>
                                <option value="5" {% if team.11=='5' %}selected{% endif %}>5</option>
                                <option value="NO" {% if team.11=='NO' %}selected{% endif %}>NINGUNO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Diabetico">Diabético</label>
                            <select class="form-control" id="Diabetico" name="Diabetico" required>
                                <option value="1" {% if team.12=='1' %}selected{% endif %}>1</option>
                                <option value="2" {% if team.12=='2' %}selected{% endif %}>2</option>
                                <option value="3" {% if team.12=='3' %}selected{% endif %}>3</option>
                                <option value="4" {% if team.12=='4' %}selected{% endif %}>4</option>
                                <option value="5" {% if team.12=='5' %}selected{% endif %}>5</option>
                                <option value="NO" {% if team.12=='NO' %}selected{% endif %}>NINGUNO</option>
                            </select>
                        </div>
                        <button type="submit" id="submitButton" class="btn btn-primary btn-block" disabled>Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('teamForm');
    const submitButton = document.getElementById('submitButton');
    
    // Verifica si todos los campos requeridos están completos
    function checkFormCompletion() {
        const requiredFields = form.querySelectorAll('input[required], select[required]');
        let allFilled = true;

        requiredFields.forEach(field => {
            if (!field.value.trim()) {
                allFilled = false;
            }
        });

        submitButton.disabled = !allFilled;
    }

    // Revisa el formulario cada vez que cambia un campo
    form.addEventListener('input', checkFormCompletion);

    // Llama a la función una vez al cargar la página
    checkFormCompletion();
});
</script>


    {% endblock %}